{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <p class="h1 pb-1 mt-5">Welcome To TradeWiser!</p><br>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto mt-5 w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">SIGN IN</button>
    </form>
{% endblock %}
